/* src/index.css */
/* --- Reset básico --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* --- Estructura base --- */
html, body, #root {
  height: 100%;
  width: 100%;
  background: #f9f9f9; /* color neutro */
          /* texto legible */
  font-family: 'Inter', sans-serif;
}

/* No max-width, no centrado, no padding global */
#root {
  max-width: none;
}
